@model Atenda.Data.Produto

@{
    ViewBag.Title = "Deletar Produto";
}

<h2>Deletar Produto</h2>

<h3>Você tem certeza que deseja deletar este produto?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">

            @Html.HiddenFor(model => model.IdProduto)

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QntdEstoque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QntdEstoque)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar a lista", "ListProdutos")
        </div>
    }
</div>
