@model IEnumerable<Atenda.Data.Produto>

@{
    ViewBag.Title = "Lista de Produtos";
}

<h2>Lista de Produtos</h2>

<p>
    @Html.ActionLink("Cadastrar novo produto", "CreateProduto")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QntdEstoque)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

            @Html.HiddenFor(modelItem => item.IdProduto)

        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QntdEstoque)
        </td>
        <td>
            @Html.ActionLink("Editar", "EditProduto", new { pId = item.IdProduto }) |
            @Html.ActionLink("Exibir", "DetailsProduto", new { pId = item.IdProduto }) |
            @Html.ActionLink("Deletar", "DeleteProduto", new { pId = item.IdProduto })
        </td>
    </tr>
}

</table>
