@model Atenda.Data.OrdemServico

@{
    ViewBag.Title = "Deletar OS";
}

<h2>Deletar OS</h2>

<h3>Você tem certeza que deseja deletar esta OS?</h3>
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nº de OS")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdOS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClienteNome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClienteNome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TecnicoNome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TecnicoNome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Equipamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Equipamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroSerie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroSerie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Defeito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Defeito)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Servico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Servico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataEntrada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataEntrada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataSaida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataSaida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Local)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Local)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observacoes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observacoes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Custo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Custo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar ao inicio", "Index", "Home")
        </div>
    }
</div>
