@model IEnumerable<Atenda.Data.OrdemServico>

@{
    ViewBag.Title = "Lista de OS";
}

<h1>Lista de OS</h1>

@using (Html.BeginForm())
{
    <div class="form-horizontal col-md-10" style="margin-top:2px;padding:inherit">
        <input type="text" name="ClienteNome" class="form-control" />
    </div>
    <button class="btn btn-xs" type="submit" style="padding:initial"><img class="img-responsive" title="Buscar por Cliente" src="~/Image/SearchOption_Icon-Atenda.png"></button>
    <a href="~/OrdemServico/CreateOS" class="btn btn-xs col-md-offset-10" style="float:right;margin-left:0%;margin-top:-16px"><img class="img-responsive" title="Nova OS" src="~/Image/CreateOption_Icon-Atenda.png"></a>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Nº de OS")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClienteNome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TecnicoNome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Equipamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataEntrada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Custo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdOS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClienteNome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TecnicoNome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Equipamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataEntrada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Custo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.Raw(@Html.ActionLink("[replacetext]", "DetailsOS", new { pId = item.IdOS }).ToHtmlString().Replace("[replacetext]", "<img src=\"/Image/DetailsOption_Icon-Atenda.png\" ... />"))
            @Html.Raw(@Html.ActionLink("[replacetext]", "EditOS", new { pId = item.IdOS }).ToHtmlString().Replace("[replacetext]", "<img src=\"/Image/UpdateOption_Icon-Atenda.png\" ... />"))
            @Html.Raw(@Html.ActionLink("[replacetext]", "DeleteOS", new { pId = item.IdOS }).ToHtmlString().Replace("[replacetext]", "<img src=\"/Image/DeleteOption_Icon-Atenda.png\" ... />"))
        </td>
    </tr>
}
</table>
<div>
    <button class="btn btn-link" onclick="goBack()"><img src="/Image/BackOption_Icon-Atenda.png" /></button>
</div>