@model Atenda.Data.Produto

@{
    ViewBag.Title = "Detalhes do Produto";
}

<h2>Detalhes do produto</h2>

<div>

    <dl class="dl-horizontal">

            @Html.HiddenFor(model => model.IdProduto)

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QntdEstoque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QntdEstoque)
        </dd>
        <dd>
            @Html.Raw(@Html.ActionLink("[replacetext]", "EditProduto", new { pId = Model.IdProduto }).ToHtmlString().Replace("[replacetext]", "<img src=\"/Image/UpdateOption_Icon-Atenda.png\" ... />"))
            @Html.Raw(@Html.ActionLink("[replacetext]", "DeleteProduto", new { pId = Model.IdProduto }).ToHtmlString().Replace("[replacetext]", "<img src=\"/Image/DeleteOption_Icon-Atenda.png\" ... />"))
        </dd>
    </dl>
</div>

<div>
    <button class="btn btn-link" onclick="goBack()"><img src="/Image/BackOption_Icon-Atenda.png" /></button>
</div>