@model IEnumerable<Atenda.Data.Produto>

@{
    ViewBag.Title = "Lista de Produtos";
}

<h1>Lista de produtos</h1>

@using (Html.BeginForm())
{
    <div class="form-horizontal col-md-10">
        <input type="text" name="NomeProduto" value="Digite o nome do Produto" class="form-control" />
    </div>
    <button class="btn btn-xs" type="submit"><img class="img-responsive" title="Buscar por Nome" src="~/Image/SearchOption_Icon-Atenda.png"></button>
    <a href="~/Produto/CreateProduto" class="btn btn-xs col-md-offset-10" style="float:right;margin-left: 0%"><img class="img-responsive" title="Novo Produto" src="~/Image/CreateOption_Icon-Atenda.png"></a>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QntdEstoque)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

            @Html.HiddenFor(modelItem => item.IdProduto)

        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QntdEstoque)
        </td>
        <td>
            @Html.Raw(@Html.ActionLink("[replacetext]", "DetailsCliente", new { pId = item.IdProduto }).ToHtmlString().Replace("[replacetext]", "<img src=\"/Image/DetailsOption_Icon-Atenda.png\" ... />"))
            @Html.Raw(@Html.ActionLink("[replacetext]", "EditCliente", new { pId = item.IdProduto }).ToHtmlString().Replace("[replacetext]", "<img src=\"/Image/UpdateOption_Icon-Atenda.png\" ... />"))
            @Html.Raw(@Html.ActionLink("[replacetext]", "DeleteCliente", new { pId = item.IdProduto }).ToHtmlString().Replace("[replacetext]", "<img src=\"/Image/DeleteOption_Icon-Atenda.png\" ... />"))
        </td>
    </tr>
}

</table>