@model IEnumerable<Atenda.Data.Cliente>

@{
    ViewBag.Title = "Lista de clientes";
}

<h1>Lista de clientes</h1>

@using (Html.BeginForm())
{
    <div class="form-horizontal col-md-10" style="margin-top:2px;padding:inherit">
        <input type="text" name="ClienteNome" class="form-control" />
    </div>
    <button class="btn btn-link" type="submit" style="padding:initial"><img class="img-responsive" title="Buscar Cliente" src="~/Image/SearchOption_Icon-Atenda.png"></button>
    <a href="~/Cliente/CreateCliente" class="btn btn-xs col-md-offset-10" style="float:right;margin-left:0%;margin-top:-16px"><img class="img-responsive" title="Novo Orçamento" src="~/Image/CreateOption_Icon-Atenda.png"></a>
}

<table class="table">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Endereco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bairro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        @Html.HiddenFor(modelItem => item.IdCliente)

        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Endereco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bairro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.Raw(@Html.ActionLink("[replacetext]", "DetailsCliente", new { pId = item.IdCliente }).ToHtmlString().Replace("[replacetext]", "<img src=\"/Image/DetailsOption_Icon-Atenda.png\" ... />"))
            @Html.Raw(@Html.ActionLink("[replacetext]", "EditCliente", new { pId = item.IdCliente }).ToHtmlString().Replace("[replacetext]", "<img src=\"/Image/UpdateOption_Icon-Atenda.png\" ... />"))
            @Html.Raw(@Html.ActionLink("[replacetext]", "DeleteCliente", new { pId = item.IdCliente }).ToHtmlString().Replace("[replacetext]", "<img src=\"/Image/DeleteOption_Icon-Atenda.png\" ... />"))
        </td>
    </tr>
}
</table>
<div>
    <button class="btn btn-link" onclick="goBack()"><img src="/Image/BackOption_Icon-Atenda.png" /></button>
</div>