@model Atenda.Data.Tecnico

@{
    ViewBag.Title = "Detalhes do tecnico";
}

<h2>Detalhes do tecnico</h2>

<div>
    <dl class="dl-horizontal">

            @Html.HiddenFor(model => model.IdTecnico)

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endereco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Admissao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Admissao)
        </dd>
        <dd>
            @Html.Raw(@Html.ActionLink("[replacetext]", "EditTecnico", new { pId = Model.IdTecnico }).ToHtmlString().Replace("[replacetext]", "<img src=\"/Image/UpdateOption_Icon-Atenda.png\" ... />"))
            @Html.Raw(@Html.ActionLink("[replacetext]", "DeleteTecnico", new { pId = Model.IdTecnico }).ToHtmlString().Replace("[replacetext]", "<img src=\"/Image/DeleteOption_Icon-Atenda.png\" ... />"))
        </dd>
    </dl>
</div>

<div>
    <button class="btn btn-link" onclick="goBack()"><img src="/Image/BackOption_Icon-Atenda.png" /></button>
</div>
