@model IEnumerable<Atenda.Data.Tecnico>

@{
    ViewBag.Title = "Lista de Tecnicos";
}

<h1>Lista dos Tecnicos</h1>

@using (Html.BeginForm())
{
    <div class="form-horizontal col-md-10">
        <input type="text" name="NomeTecnico" value="Digite o nome do Produto" class="form-control" />
    </div>
    <button class="btn btn-xs" type="submit"><img class="img-responsive" title="Buscar por Tecnico" src="~/Image/SearchOption_Icon-Atenda.png"></button>
    <a href="~/Tecnico/CreateTecnico" class="btn btn-xs col-md-offset-10" style="float:right;margin-left: 0%"><img class="img-responsive" title="Novo Tecnico" src="~/Image/CreateOption_Icon-Atenda.png"></a>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Endereco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Admissao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

            @Html.HiddenFor(modelItem => item.IdTecnico)

        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Endereco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Admissao)
        </td>
        <td>
            @Html.Raw(@Html.ActionLink("[replacetext]", "DetailsCliente", new { pId = item.IdTecnico }).ToHtmlString().Replace("[replacetext]", "<img src=\"/Image/DetailsOption_Icon-Atenda.png\" ... />"))
            @Html.Raw(@Html.ActionLink("[replacetext]", "EditCliente", new { pId = item.IdTecnico }).ToHtmlString().Replace("[replacetext]", "<img src=\"/Image/UpdateOption_Icon-Atenda.png\" ... />"))
            @Html.Raw(@Html.ActionLink("[replacetext]", "DeleteCliente", new { pId = item.IdTecnico }).ToHtmlString().Replace("[replacetext]", "<img src=\"/Image/DeleteOption_Icon-Atenda.png\" ... />"))
        </td>
    </tr>
}

</table>