@model Atenda.Data.Agenda

@{
    ViewBag.Title = "Deletar Agendamento";
}

<h2>Deletar Agendamento</h2>

<h3>Você tem certeza que deseja deletar este agendamento?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">

        @Html.HiddenFor(model => model.IdAgenda)

        @Html.HiddenFor(model => model.IdTecnico)

        @Html.HiddenFor(model => model.IdCliente)

        <dt>
            @Html.DisplayNameFor(model => model.TecnicoNome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TecnicoNome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClienteNome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClienteNome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Local)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Local)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Servico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Servico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observacoes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observacoes)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-default" /> |

            @Html.ActionLink("Voltar a lista", "ListAgendas")
        </div>
    }
</div>