@model Atenda.Web.ViewModel.OrcamentoViewModel

@{
    ViewBag.Title = "Cadastrar Orçamento";
}

<script type="text/javascript" src="http://code.jquery.com/jquery-1.2.2.min.js"></script>
<script type="text/javascript" src="~/Scripts/functions.js"></script>

<h2>Cadastrar novo orçamento</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Orcamento.Servico, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Orcamento.Servico, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Orcamento.Servico, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Orcamento.Valor, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Orcamento.Valor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Orcamento.Valor, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @*@if (Model.Produtos != null)
            {
            <div class="form-group">
                <table class="dl-horizontal">
                    <tr>
                        <th>
                            @Html.Label("Nome ")
                        </th>
                        <th>
                            @Html.Label("Valor ")
                        </th>
                        <th>
                            @Html.Label("Quantidade")
                        </th>
                        <th></th>
                    </tr>
                    @foreach (var produto in Model.Produtos)
                    {
                        <tr>
                            @Html.HiddenFor(modelItem => produto.IdProduto)
                            <td>
                                @Html.DisplayFor(modelItem => produto.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => produto.Valor)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => produto.QntdEstoque)
                            </td>
                            <td>
                                @Html.Raw(@Html.ActionLink("[replacetext]", "DetailsProduto", new { pId = produto.IdProduto }).ToHtmlString().Replace("[replacetext]", "<img src=\"/Image/DetailsOption_Icon-Atenda.png\" ... />"))
                            </td>
                        </tr>
                    }
                </table>}*@

            @*Encontrar forma de chamar action e enviar por parametro o model orcamento*@
            <div class="col-md-10">
                @Html.Raw(@Html.ActionLink("[replacetext]", "AddProdutos", "Orcamento").ToHtmlString().Replace("[replacetext]", "<button type=\"\" class=\"btn btn-success\">Adicionar á lista</button>"))
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Orcamento.ClienteNome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdCliente", null, string.Empty, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Orcamento.IdCliente, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-link" onclick="goBack()"><img src="/Image/BackOption_Icon-Atenda.png" /></button>
                @*@Html.Raw(@Html.ActionLink("[replacetext]", "CreateOrcamento", "Orcamento").ToHtmlString().Replace("[replacetext]", "<button type=\"Submit\" class=\"btn btn-link\"><img src=\"~/Image/SaveOption_Icon-Atenda.png\" /></button>"))*@
                <button type="submit" value="CreateOrcamento" class="btn btn-link"><img src="~/Image/SaveOption_Icon-Atenda.png" /></button>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
