@model Atenda.Data.Orcamento

@{
    ViewBag.Title = "Detalhes do Orçamento";
}

<h2>Detalhes do Orçamento</h2>

<div>
    <dl class="dl-horizontal">

        @Html.HiddenFor(model => model.IdOrcamento)

        <dt>
            @Html.DisplayNameFor(model => model.Servico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Servico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorServico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorServico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeProduto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeProduto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorProduto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorProduto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeCliente)
        </dd>

    </dl>
</div>

<p>
    @Html.Raw(@Html.ActionLink("[replacetext]", "EditCliente", new { pId = Model.IdOrcamento }).ToHtmlString().Replace("[replacetext]", "<img src=\"/Image/UpdateOption_Icon-Atenda.png\" ... />"))
    @Html.Raw(@Html.ActionLink("[replacetext]", "DeleteCliente", new { pId = Model.IdOrcamento }).ToHtmlString().Replace("[replacetext]", "<img src=\"/Image/DeleteOption_Icon-Atenda.png\" ... />"))
</p>

<div>
    <button class="btn btn-link" onclick="goBack()"><img src="/Image/BackOption_Icon-Atenda.png" /></button>
</div>