@model IEnumerable<Atenda.Data.Orcamento>

@{
    ViewBag.Title = "Lista de Orçamentos";
}

@if (TempData["Mensagem"] != null)
{
    if (TempData["Tipo"] == "ok")
    {
        <div class="alert alert-success" style="margin-top:20px; width:20%">
            @TempData["Mensagem"]
        </div>
    }
    if (TempData["Tipo"] == "bad")
    {
        <div class="alert alert-danger" style="margin-top:20px; width:20%">
            @TempData["Mensagem"]
        </div>
    }

}

<h1>Lista de orçamentos</h1>

@using (Html.BeginForm())
{
    <div class="form-horizontal col-md-10" style="margin-top:2px;padding:inherit">
        <input type="text" name="ClienteNome" class="form-control" />
    </div>
    <button class="btn btn-link" type="submit" style="padding:initial"><img class="img-responsive" title="Buscar por Cliente" src="~/Image/SearchOption_Icon-Atenda.png"></button>
    <a href="~/Orcamento/CreateOrcamento" class="btn btn-xs col-md-offset-10" style="float:right;margin-left:0%;margin-top:-16px"><img class="img-responsive" title="Novo Orçamento" src="~/Image/CreateOption_Icon-Atenda.png"></a>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClienteNome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Servico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProdutoNome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProdutoValor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorTotal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClienteNome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Servico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProdutoNome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProdutoValor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorTotal)
        </td>
        <td>
            @Html.Raw(@Html.ActionLink("[replacetext]", "DetailsOrcamento", new { pId = item.IdOrcamento }).ToHtmlString().Replace("[replacetext]", "<img src=\"/Image/DetailsOption_Icon-Atenda.png\" ... />"))
            @Html.Raw(@Html.ActionLink("[replacetext]", "EditOrcamento", new { pId = item.IdOrcamento }).ToHtmlString().Replace("[replacetext]", "<img src=\"/Image/UpdateOption_Icon-Atenda.png\" ... />"))           
            @Html.Raw(@Html.ActionLink("[replacetext]", "DeleteOrcamento", new { pId = item.IdOrcamento }).ToHtmlString().Replace("[replacetext]", "<img src=\"/Image/DeleteOption_Icon-Atenda.png\" ... />"))    
        </td>
    </tr>

}
</table>
<div>
    <button class="btn btn-link" onclick="goBack()"><img src="/Image/BackOption_Icon-Atenda.png" /></button>
</div>