@model Atenda.Data.Agenda

@{
    ViewBag.Title = "Detalhes do Agendamento";
}

<h2>Detalhes do agendamento</h2>

<div>
    <dl class="dl-horizontal">

            @Html.HiddenFor(model => model.IdAgenda)

        <dt>
            @Html.DisplayNameFor(model => model.TecnicoNome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TecnicoNome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClienteNome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClienteNome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Local)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Local)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Servico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Servico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observacoes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observacoes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dd>
            @Html.Raw(@Html.ActionLink("[replacetext]", "EditAgenda", new { pId = Model.IdAgenda }).ToHtmlString().Replace("[replacetext]", "<img src=\"/Image/UpdateOption_Icon-Atenda.png\" ... />"))
            @Html.Raw(@Html.ActionLink("[replacetext]", "DeleteAgenda", new { pId = Model.IdAgenda }).ToHtmlString().Replace("[replacetext]", "<img src=\"/Image/DeleteOption_Icon-Atenda.png\" ... />"))
        </dd>
    </dl>
</div>

<div>
    <button class="btn btn-link" onclick="goBack()"><img src="/Image/BackOption_Icon-Atenda.png" /></button>
</div>