@model IEnumerable<Atenda.Data.Agenda>

@{
    ViewBag.Title = "Lista de Agendamentos";
}

<h2>Lista de agendamentos</h2>

<p>
    @Html.ActionLink("Cadastrar novo agendamento", "CreateAgenda")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TecnicoNome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClienteNome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Local)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

            @Html.HiddenFor(modelItem => item.IdAgenda)

        <td>
            @Html.DisplayFor(modelItem => item.TecnicoNome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClienteNome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Local)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Editar", "EditAgenda", new { pId = item.IdAgenda }) |
            @Html.ActionLink("Exibir", "DetailsAgenda", new { pId = item.IdAgenda }) |
            @Html.ActionLink("Deletar", "DeleteAgenda", new { pId = item.IdAgenda })
        </td>
    </tr>
}

</table>
